.footer{
    bottom: 0px;
    text-align: center;
}
.login{
    align-items: center;
    position: absolute;
    text-align: center;
}
.booking{
    text-align: center;
}
.rotate {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}